<div class="boxnama">
    <div class=col>
        <div class=card_avatar_5>
            <div class=default_large_light>
                <div class=styles_solid_large_light>
                    <div class="rounded_rectangle"></div>
                </div>
            </div>
            <div class=card_body>
                <div class=av___brands_mailchimp___large>
                    <div class=full_2xl>
                        <div class="image_1"></div>
                    </div>
                </div>
                <div class=group_354><span class="webpixels">Kelompok Praktikum</span></div>
                <div class="line_38"></div><span class="text___">Celza Dinata (2044170001)
                    Aryo Romadhon Vardhana(2044190011)
                    Farizal Justian (2044190036)</span>
            </div>
        </div>
    </div>
</div>